@font-face {
    font-family: 'HankenGrotesk', sans-serif;
    src: url(/assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'HankenGrotesk', sans-serif;
}

html,
body {
    background: #f2f2f2;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.mainInfo {
    z-index: 1;
        width: 280px;
    padding: 10px 15px;
    border-radius: 25px 0 0 25px;
    display: inline-block;
    text-align: center;
    background: linear-gradient(to top, #342EEA, #4936F2, #6040FD);
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.227);
    color: #ffffff;
}

.mainInfo h1 {
    margin: 10px auto;
    font-size: medium;
    color: #ffffff82;
}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px auto;
    padding: 50px;
    border-radius: 100%;
    width: max-content;
    height: auto;
    background: linear-gradient(to top, #452EE1, #4633ED, #4827D0);
}

#highScore {
    font-size: 3em;
}

.maxScore {
    font-size: smaller;
    color: #ffffff82;
}

.content {
    bottom: 0;
}

.content p {
    margin: 8px;
    font-size: small;
    color: #ffffff82;
}

.asideInfo {
    width: 350px;
    padding: 15px 20px;
    border-radius: 0 25px 25px 0;
    display: inline-block;
    background: #ffffff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

#sum {
    margin: 20px 0;
    font-size: larger;
    font-weight: bolder;
    color: #303B59;
}

.skils {
    margin: 12px auto;
    padding: 10px;
    border: 0;
    border-radius: 1000px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.097);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.skils:nth-child(2) {
    color: #E75F63;
    background: #E75F635f;
}

.skils:nth-child(3) {
    color: #F5B553;
    background: #F5B5535f;
}

.skils:nth-child(4) {
    color: #2FA585;
    background: #2fa5865f;
}

.skils:nth-child(5) {
    color: #221B8F;
    background: #221B8F5f;
}

.skilscore {
    font-size: small;
    font-weight: bold;
    color: #303b59c3;
}

#contButton {
    margin: 10px auto;
    padding: 14px 10px;
    width: 100%;
    height: max-content;
    border: 0;
    border-radius: 100px;

    font-size: medium;
    font-weight: bold;

    color: #ffffff;
    background: linear-gradient(to top, #4633ED, #4827D0);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#contButton:hover {
    background: #303B59;
}

.attribution {
    margin: 10px auto;
    position: relative;
    bottom: 0;
    text-align: center;
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 650px) {
    .container{
        flex-direction: column;
    }

    .mainInfo{
        width: 100%;
        border-radius: 0;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.227);
    }

    .circle {
        padding: 35px;
    }

    .asideInfo{
        width: 100%;
        border-radius: 0;
    }
}